<div data-ng-controller="HomeController as ul" class="theme-dark-content theme-dark-text">
  <div layout="column">

    <div flex="100" style="height: 100px">
      <div flex="100" class="parallax-img"></div>
    </div>

    <div layout="row" layout-sm="column" layout-xs="column" flex="100">
      <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-xs="column">
        <div flex="50" flex-xs="100">
          <md-card class="box md-whiteframe-5dp">

          </md-card>
        </div>
        <div flex="50" flex-xs="100">
          <md-card class="box md-whiteframe-5dp">

          </md-card>
        </div>
      </div>
      <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-xs="column">
        <div flex="50" flex-xs="100">
          <md-card class="box md-whiteframe-5dp">

          </md-card>
        </div>
        <div flex="50" layout="column" flex-xs="100">
          <div flex="100">
            <md-card class="mini-box md-whiteframe-5dp"></md-card>
          </div>
          <div flex="100">
            <md-card class="mini-box md-whiteframe-5dp"></md-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
