<div data-ng-controller="HomeController as ul" class="theme-dark-content theme-dark-text">
  <div layout="column">

    <div flex="100" style="height: 100px">
      <div flex="100" class="parallax-img"></div>
    </div>

    <div layout="row" layout-sm="column" layout-xs="column" flex="100">
      <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-xs="column">
        <div flex="50" flex-xs="100">
          <md-card class="box md-whiteframe-5dp">
            <md-card-title class="tituloCard">
              <span>
                <md-icon class="material-icons space-left">trending_up</md-icon><span>Financial</span>
              </span>
            </md-card-title>
          </md-card>
        </div>
        <div flex="50" flex-xs="100">
          <md-card class="box md-whiteframe-5dp">
            <md-card-title class="tituloCard">
              <span>
                <md-icon class="material-icons space-left">note</md-icon><span>Recordatorio</span>
              </span>
            </md-card-title>
          </md-card>
        </div>
      </div>
      <div flex="50" flex-sm="100" flex-xs="100" layout="row" layout-xs="column">
        <div flex="50" flex-xs="100">
          <md-card class="box md-whiteframe-5dp">
            <md-card-title class="tituloCard">
               <span>
                <md-icon class="material-icons space-left">import_contacts</md-icon><span>Book</span>
              </span>
            </md-card-title>
          </md-card>
        </div>
        <div flex="50" layout="column" flex-xs="100">
          <div flex="100">
            <md-card class="mini-box1 md-whiteframe-5dp">
              <md-card-title class="tituloCard">
                <span>
                  <md-icon class="material-icons space-left">attach_file</md-icon><span>Links</span>
                </span>
              </md-card-title>
            </md-card>
          </div>
          <div flex="100">
            <md-card class="mini-box2 md-whiteframe-5dp">
              <md-card-title class="tituloCard">
                <span>
                  <md-icon class="material-icons space-left">dialpad</md-icon><span>CodigoS</span>
                </span>
              </md-card-title>
            </md-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
