.parallax-img{
    width: 100%;
    background-image: url('../img/brand/parallax-default.jpg')  ;
    background-color: #000066 !important;
    height: 300px !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    height: 460px;
}

.mini-box1{
    height: 292px;
}

.mini-box2{
    height: 152px;
}

.tituloCard{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.2em;
}

.space-left{
    margin-right: 8px;
    color:white;
    font-size: 1.3em;
}
