.parallax-img{
    width: 100%;
    background-image: url('../img/brand/parallax-default.jpg')  ;
    background-color: #000066 !important;
    height: 300px !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    height: 460px;
}

.mini-box1{
    height: 292px;
}

.mini-box2{
    height: 152px;
}

.tituloCard{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.2em;
}

.space-right{
    margin-right: 8px;
    color:white;
    font-size: 1.3em;
}

.add-financial{
    color:white;
    cursor: pointer;
}

.add-financial:hover{
    transition: color 0.5s;
    color: #00ca25;
}

.add-recordatorio{
    color:white;
    cursor: pointer;
}

.add-recordatorio:hover{
    transition: color 0.5s;
    color: #ca242c;
}

.add-book{
    color:white;
    cursor: pointer;
}

.add-book:hover{
    transition: color 0.5s;
    color: #2da3ca;
}
.add-links{
    color:white;
    cursor: pointer;
    outline: none;
}

.add-links-active{
    color: #ca9a23;
}

.add-links:hover{
    transition: color 0.5s;
    color: #ca9a23;
}
.add-codigos{
    color:white;
    cursor: pointer;
}

.add-codigos:hover{
    transition: color 0.5s;
    color: #522aca;
}
.change-parralax{
    cursor: pointer;
}

.change-parralax:hover md-icon{
    transition: color 0.5s;
    color: #3dc1ff;
}

/*links*/
#links .card-links{
    opacity: 0.5;
}

#links .card-links:hover{
    transition: all 0.2s;
    opacity: 1;
}

#links .card-links a{
    color:white;
    text-decoration: none;
}

.card-scroll{
    overflow: auto;
}

#links .estudio{
    border-bottom: 2px solid #2334ff;
}

#links .ocio{
    border-bottom: 2px solid #4aff44;
}
#links .redes{
    border-bottom: 2px solid white;
}

#links .entretenimiento{
    border-bottom: 2px solid #ff332f;
}

#links .favorito-activo{
    color: #ca9a23;
    cursor: pointer;
    outline: none;
}

#links .favorito{
    color:white;
    cursor: pointer;
    outline: none;
}

#links .favorito:hover{
    color: #ca9a23;
}

#links .delete{
    color: white;
    cursor: pointer;
    outline: none;
}
#links .delete:hover{
    transition: color 0.5s;
    color: #ff4144;
}

#links .create{
    color: white;
    cursor: pointer;
    outline: none;
}

#links .create:hover{
    transition: color 0.5s;
    color: #14a0ff;
}

md-input-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mdContentLinks{
    height: 300px;;
}


/*dialogo factura*/

.text-white{
    color:white;
}

.cancel:hover{
    color: #ff4141 !important;
}

.aceptar:hover{

    color: #00af23 !important;
}
